apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{NAME}}
spec:
  selector:
    matchLabels:
      app: {{NAME}}
  template:
    metadata:
      labels:
        app: {{NAME}}
    spec:
      containers:
      - name: {{NAME}}
        image: {{IMAGE}}
        imagePullPolicy: Always
